.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background: #0973BB;
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: roboto;
}

.App-footer {
  background: #0973BB;
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: roboto;
}

.App-body {
  background: #000;
}

.Inputs {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: roboto;
  font-size: 20px;
}

.Forms {
  justify-content: center;
  font-family: roboto;
  margin-top: 15px;
}

.Titulos {
  font-family: roboto;
  text-align: center;
}

.Buttons {
  background-color: #3AD4FF;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.ButtonsFormat {
 text-align: center;
 margin-bottom: 10px;
}

.displayCSS {
  display: flex;
}

.buttonList {
  margin-bottom: 10px;
  text-align: center;
  font-family: roboto;
}

.navFonts {
  font-family: roboto;
  color: black;
}

.fonts {
  font-family: roboto;
  color: black;
  font-size: 24px;
  text-align: center;
}

.backgrounds {
  background: #0973BB;
}

.footer {
  margin-top: 4%;
}

.about {
  margin-top: 2%;
}

.cc {
  justify-content: center;
}










