@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: 'TruenoSBd';
  src: url('https://medios.ucr.ac.cr/plantillas/ucr_4/fonts/TruenoSBd.eot');
  src: url('https://medios.ucr.ac.cr/plantillas/ucr_4/fonts/TruenoSBd.eot?#iefix') format('embedded-opentype'), url('https://medios.ucr.ac.cr/plantillas/ucr_4/fonts/TruenoSBd.woff2') format('woff2'), url('https://medios.ucr.ac.cr/plantillas/ucr_4/fonts/TruenoSBd.woff') format('woff'), url('https://medios.ucr.ac.cr/plantillas/ucr_4/fonts/TruenoSBd.ttf') format('truetype'), url('https://medios.ucr.ac.cr/plantillas/ucr_4/fonts/TruenoSBd.svg#TruenoSBd') format('svg');
  font-weight: 600;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}


.App-header {
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 14vh;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  color: black;
  font-family: 'TruenoSBd';
}

.App-footer {
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca);
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Roboto;
}

.App-body {
  background: #000;
  font-family: 'Liberation Sans';
}

.Inputs {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: roboto;
  font-size: 20px;
}

.Forms {
  justify-content: center;
  font-family: roboto;
  margin-top: 15px;
}

.Titulos {
  font-family: 'TruenoSBd';
  text-align: center;
}

.Buttons {
  background-color: #114E8F;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.ButtonsFormat {
 text-align: center;
 margin-bottom: 10px;
}

.displayCSS {
  display: flex;
}

.buttonList {
  margin-bottom: 10px;
  text-align: center;
  font-family: roboto;
}

.navFonts {
  font-family: roboto;
  color: black;
}

.fonts {
  font-family: roboto;
  color: black;
  font-size: 24px;
  text-align: center;
}

.backgrounds {
  background: #0973BB;
}

.bg {
  background: gray;
}

.footer {
  margin-top: 4%;
}

.about {
  margin-top: 2%;
}

.margins{
  margin-bottom: 2%;
  margin-top: 10px;
}

.cc {
  justify-content: center;
}

.tc {
  text-align: center;
}

.btnMenu {
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.calendar {
  margin-top: 10px;
}

.calendar-day, .calendar-title, .calendar-nonDay {
  display: inline-flex;
  padding: 10px 0px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  width: 13%;
  min-height: 40px;
  font-family: 'TruenoSBd';
}

.calendar-day {
  background-color: #CECECE;
}

.calendar-title {
  background-color: #114E8F;
  border-color: #114E8F;
  border-radius: 5px 0;
  color: white;
}

.calendar-nonDay {
  border: 1px solid grey;
  background-color: grey;
}

.headerModal {
  font-family: roboto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background: #1787B3;
}

.w-nav {
  width: 100%;
}









